<!-- index.html -->
<!DOCTYPE html>
<html lang='en' charset="UTF-8">
  <head>
    <!--tab-->
    <title>TrailTracker</title>
    <!--<link rel="shortcut icon" href="pics/homeicon.ico"/> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- styles -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/css/all.css" />
    <link rel="stylesheet" href="assets/css/404.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/start.css" />
    <link rel="stylesheet" href="assets/css/list.css" />
    <link rel="stylesheet" href="assets/css/trails.css" />
    <link rel="stylesheet" href="assets/css/location.css" />

    <!--bower components -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-maps.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/hammer.js/hammer.min.js"></script>
    <script type="text/javascript" src="bower_components/velocity/velocity.min.js"></script>
    <script src='http://maps.googleapis.com/maps/api/js?sensor=true'></script>
    <script type="text/javascript" src="bower_components/gmaps.js/gmaps.js"></script>

    <!-- scripts -->
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript" src="assets/js/map.js"></script>
    <script type="text/javascript" src="assets/js/configure.js"></script>

    <!--providers -->
    <script type="text/javascript" src="assets/js/providers/dataProvider.js"></script>

    <!--controllers-->
    <script type="text/javascript" src="assets/js/controllers/mainController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/404Controller.js"></script>
    <script type="text/javascript" src="assets/js/controllers/startController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/listController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/trailController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/locationController.js"></script>
  </head>

  <body>
    <nav id="menu">
        <div class="catch menu-component hidden"></div>

        <div id="menu-bar" class="menu-component">
            <div id="menu-title">
                <h3>1:00</h3>
            </div>
        </div>

        <div id="options">

            <div id="menu-options" class="menu-toggle menu-component">
                <div class="toggle">
                    <button class="menuButton">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="options">
                    <ul>
                        <li id="new-route"><a ng-click="newRoute()">New Route</a></li>
                        <li id="delete-route"><a ng-click="deleteRoute()">Delete Route</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- end of options -->

        <div id="profile">
            <div id="menu-profile" class="menu-toggle menu-component">
                <div class="profile">
                    <div class="title">
                        <h1>Name</h1>
                    </div>
                    <h4>Speed: sdfasdfsadsfdfasd<a href="/#/404">fasdfasdf</a></h4>
                </div>
            </div>
            <div id="toggle-profile" class="toggle menu-component">
                <button class="menuButton">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div> <!-- end of profile -->
    </nav> <!-- end of menu -->

    <div class="map-container">
        <div id = "map" style="width: 100%;height: 100%"></div>
    </div>

    <div ng-app='main' id="pages">
        <div ng-view></div>
    <div> 

    <div id="start-page" class="popup-page hidden">
        <div id="start-options">
            <h2>Sort by:</h2>
            <div class="start-option">
                <button></button>
                <h4>Catalogue</h4>
            </div>
            <div class="start-option">
                <button></button>
                <h4>Location</h4>
            </div>
        </div>
    </div> <!-- end of start page -->

    <div class="catch type hidden">
        <div id="type-page" class="popup-page">
            <h2>Sort by:</h2>
            <div class="options">
                <div class="option">
                    <button><a href="#/list"></a></button>
                    <h4>Catalogue</h4>
                </div>
                <div class="option">
                    <button><a href="#/location"></a></button>
                    <h4>Location</h4>
                </div>
            </div>
        </div> <!-- end of type page -->
    </div> <!-- end of catch page -->
  </body>

</html>