<!-- index.html -->
<!DOCTYPE html>
<html lang='en' charset="UTF-8">
  <head>
    <!--tab-->
    <title>TrailTracker</title>
    <!--<link rel="shortcut icon" href="pics/homeicon.ico"/> -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- styles -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/css/all.css" />
    <link rel="stylesheet" href="assets/css/404.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/start.css" />
    <link rel="stylesheet" href="assets/css/list.css" />
    <link rel="stylesheet" href="assets/css/trails.css" />
    <link rel="stylesheet" href="assets/css/location.css" />

    <!--bower components -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/hammer.js/hammer.min.js"></script>
    <script type="text/javascript" src="bower_components/velocity/velocity.min.js"></script>
    <script src='http://maps.googleapis.com/maps/api/js?sensor=true'></script>
    <script type="text/javascript" src="bower_components/gmaps.js/gmaps.js"></script>

    <!-- scripts -->
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript" src="assets/js/map.js"></script>
    <script type="text/javascript" src="assets/js/configure.js"></script>

    <!--local storage -->
    <script src='assets/js/local_storage/sklad.js'></script>
    <script src='assets/js/local_storage/zepto.js'></script>
    <script src='assets/js/local_storage/local_storage.js'></script>

    <!--providers -->
    <script type="text/javascript" src="assets/js/providers/dataProvider.js"></script>

    <!--controllers-->
    <script type="text/javascript" src="assets/js/controllers/mainController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/404Controller.js"></script>
    <script type="text/javascript" src="assets/js/controllers/startController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/listController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/trailController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/locationController.js"></script>

    <!-- Clock Script -->
    <script>
        function startTime() {
            var today=new Date();
            var h=today.getHours();
            var m=today.getMinutes();
            var s=today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = h+":"+m+":"+s;
            var t = setTimeout(function(){startTime()},500);
        }

        function checkTime(i) {
            if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    </script>
  </head>

  <body>
    <nav id="menu">
        <div class="catch menu-component hidden"></div>

        <div id="menu-bar" class="menu-component">
            <div id="menu-title">
                <!-- <h3>1:00</h3> -->
                <!-- Display Clock -->
                <body onload="startTime()">
                    <div id="txt"></div>
                </body>
            </div>
        </div>

        <div id="options">
            <div id="menu-options" class="menu-toggle menu-component">
                <div class="toggle">
                    <button class="menuButton">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="options">
                    <ul>
                        <li id="new-route"><a ng-click="newRoute()">New Route</a></li>
                        <li id="delete-route"><a ng-click="deleteRoute()">Delete Route</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- end of options -->

        <div id="profile">
            <div id="menu-profile" class="menu-toggle menu-component">
                <div class="profile">
                    <div class="title">
                        <!-- <h1>Name</h1> -->
                        <div id="existing-name">
                            <h1>myName</h1>
                        </div>

                        <button class='clear-history'>Clear ALL</button>
                        <button class='logout'>Change Username</button>

                    </div>
                    <h4>Speed: sdfasdfsadsfdfasd</h4>
                    <h4><a href="/#/404">404</a></h4>
                </div>
            </div>
            <div id="toggle-profile" class="toggle menu-component">
                <button class="menuButton">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div> <!-- end of profile -->
    </nav> <!-- end of menu -->

    <div class="map-container">
        <div id = "map" style="width: 100%;height: 100%"></div>
    </div>

    <div ng-app='main' id="pages">
        <div ng-view></div>
    <div> 

    <div id="start-page" class="popup-page">
        <input type='text' id='name'> <button id='add-name'>Add Name</button>
        <input type='text' id='trail'> <button id='add'>Add</button>
        <h3 id="show-the-name" class="hidden">theName</h3>
        <ul id='list'></ul>
        <button class='clear-history'>Clear ALL</button>
        <button class='ok'>OK</button>
    </div> <!-- end of start page -->

    <div class="catch type hidden">
        <div id="type-page" class="popup-page">
           <h2>Sort by:</h2>
            <div class="options">
                <div class="option">
                    <div class="button">
                        <a href="#/list"><h4>Catalogue</h4></a>
                    </div>
                </div>
                <div class="option">
                    <div class="button">
                        <a href="#/location"><h4>Location</h4></a>
                    </div>
                </div>
            </div>
        </div> <!-- end of type page -->
    </div> <!-- end of catch page -->
  </body>

</html>