<div id="list">
	<div id="list-container">
	<ul>
		<li id="search" class="border">
			<i class="fa fa-search" id="icon"></i>
			<input ng-model="query" id="src" placeholder="ex. Grouse Grind">
			<select ng-model="orderProp" id="opt">
    		<option value="" disabled selected>SORT BY:</option>
    		<option value="name">Alphabetical</option>
    		<option value="lvl">Difficulty</option>
  		</select>
        </li>
    </ul>

    <ul>
    	<li ng-repeat="trail in data | filter:query | orderBy:orderProp" id="trails" >
        	<a href="#/catalogue/{{trail.id}}" class="trail">
        		{{trail.name}}
        	</a>
      	</li>
      </ul>

    </div>	
</div>