#trail{
	padding-top: 60px;
}

#trail-container{
	position: absolute;
	width: 100%;
	height: 100%;
}

#trail h1{
	color: #565353;
	margin: 0em 0em 0em 0em;
	padding: 0.5em 0em 0em 0.5em;
	font-size: 2em;
}

#trail h4{
	background-color: #fff;
	color: #4C4A4A;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #C8C8C8;
	padding: 0.5em;
	margin: 1em 0em 0em 0.5em;
	font-size: 1em;

}

#trail p {
	color: #4C4A4A;
	padding: 1em 1.5em 0em 0.5em;
	font-size: 1em;
}

#trail img {
	width: 100%;
	height: 30%;
}

#trail #trail-card {
	margin: 0em 0em 0em 0.5em;
}

#trail #trail-menu{
	position: absolute;
	background-color: #00413c;
	width: 100%;
	height: 60px;
	bottom: 0;	
}

#trail #trail-menu .button-holder{
	height: 100%;
	width: 60px;
}

#trail #trail-menu .button-holder button{
	top: 10px;
	margin: 10px 10px;
}

#trail #trail-menu .button-holder#holder-check{
	float: right;
}

#trail #trail-menu .button-holder#holder-x{
	float: left;
}

@media only screen and (orientation: landscape) {

}